@using CoinyProject.Application.DTO
@model AlbumGetByIdDTO

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h2 class="text-primary">@Model.Name</h2>
                    <p class="text-primary">@(string.IsNullOrEmpty(Model.Description) ? "Description is not available" : Model.Description)</p>
                </div>
                <div class="col-6 text-end">
                    <div class="row-cols-3">
                        <a asp-controller="Album" asp-action="Index" class="btn btn-primary">
                            <i class="bi bi-arrow-left"></i> Go Back
                        </a>
                    </div>
                    <div class="pt-3 ">
                        <a asp-controller="AlbumElement" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-info">
                            <i class="bi bi-plus-circle"></i> Add Element
                        </a>
                        <a asp-controller="Album" asp-action="Edit" asp-route-id="@Model.Id" class="row-cols-5 btn btn-warning">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                        <a asp-controller="Album" asp-action="Delete" asp-route-id="@Model.Id" class=" row-cols-5 btn btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    @if (Model != null)
    {
        <div class="row">
            @foreach (var element in Model.Elements)
            {
                <div class="col-md-3">
                    <partial name="_AlbumElementView" model="@element" />
                </div>
            }
        </div>
    }
</div>
