
@using CoinyProject.Application.DTO.Discussion
@using Microsoft.AspNetCore.Http

@model DiscussionGetByIdDTO

@{
    var currentUser = Context.User;
    var currentUserId = ViewBag.UserId;
}

<div class="container">
    <h2 class="text-center text-primary mt-3">Discussion Talk</h2>
    <div id="currentUser" data-user-id="@currentUser.Identity.Name"></div>
    <div class="row justify-content-center">
        <div class="col-lg-6">


            <div class="card mb-3" style="height: 100px;">
                <div class="row g-0">
                    <div class="col-6 col-md-12">
                        <div class="card-body d-flex flex-column">
                            <div class="text-muted">
                                <span>
                                    Author: @Model.Username
                                </span>
                                <span class="text-primary rounded border border-primary px-2 py-1">
                                    Topic: @Model.Topic
                                </span>
                            </div>
                            <div class="h-100">
                                <h4 class="card-title">@Model.Name</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div id="messagesList" class="list-group">
                        @if (Model != null && Model.Messages.Any())
                        {
                            foreach (var message in Model.Messages)
                            {
                                var isCurrentUserMessageAuthor = (message.Username == currentUser.Identity.Name);
                                <div class="message-item mb-3 border rounded p-2 
                                    @(isCurrentUserMessageAuthor ? "text-end bg-body-tertiary " : "")">
                                    <span class="badge  @(isCurrentUserMessageAuthor ? "bg-danger" : "bg-info")">@message.Username</span>
                                    <div class="message-content">@message.Message</div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="message-item mb-3 border rounded p-2">No messages yet.</div>
                        }
                    </div>

                    <div class="input-group">
                        <input type="text" id="userInput" hidden value="@currentUser.Identity.Name" />
                        <input type="text" class="form-control" id="messageInput" placeholder="Type your message here..." />
                        <button class="btn btn-primary" id="sendButton">Send Message</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $("#sendButton").click(function () {
            var userId = "@currentUserId";
            var message = $("#messageInput").val();

            var dataToSend = {
                UserId: userId,
                Message: message,
                DiscussionId: @Model.Id
            };

            if (message.trim() === "") {
                return;
            }

            $.ajax({
                url: '/Discussion/Get',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend),
                success: function (response) {
                    console.log("Message sent successfully!");
                    $("#messageInput").val() = "";
                },
                error: function (xhr, status, error) {
                    console.error("Error sending message:", error);
                }
            });
        });

    </script>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
}