@using CoinyProject.Application.DTO
@model AlbumGetForViewDTO


<div class="col-lg-6">
    <div class="card">
        <div class="row g-0">
            <div class="col-6 col-md-5">
                <img src="@(string.IsNullOrEmpty(Model.TitleImageURL) ? "/albums/noimage.jpg" : Model.TitleImageURL)" class="card-img img-fluid rounded-start border">
            </div>
            <div class="col-6 col-md-7">
                <div class="card-body d-flex flex-column">
                    <div class="h-100">
                        <h2 class="card-title">@Model.Name</h2>
                        <p>@(string.IsNullOrEmpty(Model.Description) ? Localizer["Description is not availabe"] : Model.Description)</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a asp-action="Get" asp-controller="Album" asp-route-id="@Model.Id"
                               class="btn btn-primary">@Localizer["View Album"]</a>
                        </div>
                        <small class="text-muted">
                            <button data-id="@Model.Id" type="button" class="btn btn-outline-primary like-button" title="Click to like this post!" onclick="likePost(@Model.Id, this)">
                                    @if (Model.IsFavorite)
                                    {
                                    <i class="bi bi-star-fill"></i>
                                    <span class="like-text">@Localizer["Liked"]</span>
                                    }
                                    else
                                    {
                                    <i class="bi bi-star"></i>
                                    <span class="like-text">@Localizer["Like"]</span>
                                    } | <span class="like-count">@Model.Rate</span>
                            </button>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function likePost(id, button) {
        $.ajax({
            url: '@Url.Action("Index", "Home")',
            type: 'POST',
            data: { id: id },
            success: function (response) {
                var likeText = $(button).find('.like-text');
                var likeCount = $(button).find('.like-count');

                if (likeText.text() === '@Localizer["Like"]') {
                    likeText.text('@Localizer["Liked"]');
                    $(button).find('.bi-star').removeClass('bi-star').addClass('bi-star-fill');
                    likeCount.text(parseInt(likeCount.text()) + 1);
                } else {
                    likeText.text('@Localizer["Like"]');
                    $(button).find('.bi-star-fill').removeClass('bi-star-fill').addClass('bi-star');
                    likeCount.text(parseInt(likeCount.text()) - 1);
                }
            },
            error: function (xhr, status, error) {
            }
        });
    }
</script>
